.contentDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#images {
  height: 60vh;
  width: auto;
  max-width: 95%;
  padding: 1.2rem;
  background-color: #0b3d91;
  border-radius: 2.5rem;
  border: 1px solid #fc3d21;
  box-shadow: 8px 8px #fc3d21;
  margin: 0 auto;
}
#vid {
  width: 100%;
  height: auto;
  min-height: 60vh;
  margin: 0 auto;
  padding: 0.8rem;
  background-color: #0b3d91;
  border-radius: 2.5rem;
  border: 1px solid #fc3d21;
  box-shadow: 8px 8px #fc3d21;
}
#nasaLogo {
  height: 32vh;
  width: auto;
}

.topContent {
  display: flex;
  align-items: center;
  padding: 0.8rem;
}
.bottomContent {
  width: 49%;
  display: flex;
}
.button {
  margin-top: 1rem;
  margin-left: 95%;
  position: absolute;
  background-color: #0b3d91;
  box-shadow: 3px 3px #fc3d21;
  border: 1px solid #fc3d21;
  border-radius: 2.5rem;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
}

.titleDate {
  width: 100%;
}
#dateFormat {
  font-size: 1rem;
  text-align: center;
}

#hdImage {
  text-align: center;
  margin: 0 auto;
  height: 90vh;
  display: block;
  max-width: 100%;
}
.buttonClose {
  text-align: center;
  margin: 0 auto;
  background-color: #0b3d91;
  box-shadow: 3px 3px #fc3d21;
  border: 1px solid #fc3d21;
  border-radius: 2.5rem;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
}
.buttonPopup {
  text-align: center;
  padding: 0.5rem;
}
#dateInput {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px gray;
  font-size: 1.8rem;
  background-color: #0b3d91;
  border: 1px solid #fc3d21;
  box-shadow: 8px 8px #fc3d21;
  text-align: center;
  text-shadow: 4px 4px 8px #fc3d21;
  width: 55%;
  border-radius: 2.5rem;
  position: relative;
  margin: auto;
  padding: 0.8rem;
}

#createdBy {
  text-align: center;
}
@media screen and (min-width: 2000px) {
  #vid {
    min-width: 45vw;
  }
  .button {
    padding: 0.8rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 786px) {
  .topContent {
    flex-direction: column;
  }

  .bottomContent {
    width: 85%;
    padding: 1rem;
  }

  .button {
    position: relative;
    margin-left: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .topContent {
    flex-direction: column;
  }

  .bottomContent {
    width: 85%;
    padding: 1rem;
  }

  .button {
    position: relative;
    margin-left: 85%;
  }
}
