* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./nasa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1 {
  margin: 0 auto;
  border-radius: 2.5rem;
  background-color: #0b3d91;
  color: white;
  padding: 1.5rem;
  border: 1px solid #fc3d21;
  box-shadow: 8px 8px #fc3d21;
  text-align: center;
  text-shadow: 4px 4px 8px #fc3d21;
  font-size: 1.8rem;
  width: 25vw;
}

.contentDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#images {
  height: 60vh;
  width: auto;
  max-width: 95%;
  padding: 1.2rem;
  background-color: #0b3d91;
  border-radius: 2.5rem;
  border: 1px solid #fc3d21;
  box-shadow: 8px 8px #fc3d21;
  margin: 0 auto;
}
#vid {
  width: 100%;
  height: auto;
  min-height: 60vh;
  margin: 0 auto;
  padding: 0.8rem;
  background-color: #0b3d91;
  border-radius: 2.5rem;
  border: 1px solid #fc3d21;
  box-shadow: 8px 8px #fc3d21;
}
#nasaLogo {
  height: 32vh;
  width: auto;
}

.topContent {
  display: flex;
  align-items: center;
  padding: 0.8rem;
}
.bottomContent {
  width: 49%;
  display: flex;
}
.button {
  margin-top: 1rem;
  margin-left: 45%;
  position: absolute;
  background-color: #0b3d91;
  box-shadow: 3px 3px #fc3d21;
  border: 1px solid #fc3d21;
  border-radius: 2.5rem;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
}

.about {
  width: 100%;
  padding: 1.6rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: #0b3d91;
  color: white;
  border: 1px solid #fc3d21;
  box-shadow: 8px 8px #fc3d21;
  text-align: center;
  text-shadow: 4px 4px 8px #fc3d21;
  font-size: 1.2rem;
}
input {
  text-align: center;
  margin: 0 auto;
  margin-left: 0.8rem;
  font-size: large;
}
.titleDate {
  width: 100%;
}
#dateFormat {
  font-size: 1rem;
  text-align: center;
}
.toolTip {
  display: none;
}
h1:hover .toolTip {
  display: inline-block;
  padding-right: 1rem;
  text-decoration: underline;
}

.modal {
  background-color: darkgray;
}
.aboutModal {
  background-color: darkgray;
  margin: 0 auto;
}
.aboutPopupContent {
  width: 83%;
  margin: 0 auto;
  padding: 0.2rem;
  text-align: center;
}
.aboutTitle {
  text-align: center;
  padding: 1rem;
}

.hdPopupDiv {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.popup-content {
  margin: 0 auto;
  background: darkgray;
  width: 40%;
  padding: 5px;
  font-size: 1.2rem;
}

.close {
  color: black;
  padding: 0.5rem;
  font-size: 1.5rem;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
#hdImage {
  text-align: center;
  margin: 0 auto;
  height: 90vh;
  display: block;
  max-width: 100%;
}
.buttonClose {
  text-align: center;
  margin: 0 auto;
  background-color: #0b3d91;
  box-shadow: 3px 3px #fc3d21;
  border: 1px solid #fc3d21;
  border-radius: 2.5rem;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
}
.buttonPopup {
  text-align: center;
  padding: 0.5rem;
}
#dateInput {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px gray;
  font-size: 1.8rem;
  background-color: #0b3d91;
  border: 1px solid #fc3d21;
  box-shadow: 8px 8px #fc3d21;
  text-align: center;
  text-shadow: 4px 4px 8px #fc3d21;
  width: 55%;
  border-radius: 2.5rem;
  position: relative;
  margin: auto;
  padding: 0.8rem;
}

@media screen and (min-width: 2000px) {
  .about {
    font-size: 2rem;
  }
  #vid {
    min-width: 45vw;
  }
  .popup-content {
    width: 61%;
  }
  .button {
    padding: 0.8rem;
    font-size: 1.4rem;
  }
  .aboutPopupContent {
    padding: 0.2rem;
    text-align: center;
    font-size: 2rem;
  }
  .aboutTitle {
    text-align: center;
    padding: 1rem;
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 786px) {
  .topContent {
    flex-direction: column;
  }
  h1 {
    width: 80%;
  }
  .bottomContent {
    width: 85%;
    padding: 1rem;
  }
  body {
    height: auto;
  }
  .button {
    position: relative;
    margin-left: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .topContent {
    flex-direction: column;
  }
  h1 {
    width: 70%;
  }
  .bottomContent {
    width: 85%;
    padding: 1rem;
  }
  body {
    height: auto;
  }
  .button {
    position: relative;
    margin-left: 85%;
  }
}
